.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.Parentbox {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
}

.Foto {
  float: left;
  width: 50%;
  height: 500px;
}

.Foto img {
  width: 700px;
}

.Deskripsi {
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}

.Deskripsi .Info {
  line-height: 1.8;
  color: rgb(18, 11, 49);
  font-size: 20px;
  text-align: justify;
}

.Deskripsi .Price {
  font-weight: 500;
}

.Deskripsi .Title {
  font-size: 30px;
  color: red;
  margin: 0;
  font-style: oblique;
}

.Deskripsi .Cate {
  font-size: 35px;
  color: black;
  font-style: oblique;
  font-weight: 700;
}
.barang {
  color: red;
}
.Price,
.barang {
  font-size: 20px;
}
.tipe {
  font-size: 25px;
  font-style: italic;
}
.tabel {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  padding: 10px 15px;
}
.tabel .satu {
  width: 23%;
  padding: 10px 15px;
  background-color: cornsilk;
  text-align: center;
  border: 1.5px black solid;
}
.tabel .dua {
  width: 23%;
  padding: 10px 15px;
  background-color: cornsilk;
  text-align: center;
  border: 1.5px black solid;
}
.tabel .tiga {
  width: 23%;
  padding: 10px 15px;
  background-color: cornsilk;
  text-align: center;
  border: 1.5px black solid;
}
.tabel .empat {
  width: 23%;
  padding: 10px 15px;
  background-color: cornsilk;
  text-align: center;
  border: 1.5px black solid;
}
.keranjang {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 15px;
}
.jang {
  border-radius: 5%;
  background-color: black;
  color: white;
  padding: 10px 15px;
  width: 23%;
  text-align: center;
  border: 1.5px;
}
.ket {
  border-radius: 5%;
  background-color: gray;
  color: white;
  padding: 10px 15px;
  width: 23%;
  text-align: center;
  border: 1.5px;
}
